
@media(min-width:576px){
    
    .social{
        padding: 20px;
    }

    .comments img{
        width: 64px !important;
        height: 64px !important;
    }
    
}

@media(min-width:768px){
    
    .cover-letter .signature{
        font-size: 40px;
    }
    
    .card-columns{
        -webkit-column-count: 2;
        column-count: 2;
    }

}




@media(min-width:992px){
    
    .comments img{
        width: 103px !important;
        height: 103px !important;
    }

}

@media(min-width:1200px){



}