/************GENERAL****************/

html{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

img{
    max-width: 100%;
    display: block;     
}

/*1. PAGE START*/
/**SECTION PICTURE START**/


.picture figure img{
    width: 100%;
    max-width: none;
}

.picture figure{
    position: relative;
}

.picture figure .name{
    position: absolute;
    bottom: 5%;
    right: 30%;
}

.picture .name h1 a{
    text-decoration: none;
    color: #fff;
}

.picture figure .name h3{
    color: #fff;
}

.picture figure .name h4{
    font-weight: 400;
}

/**SECTION PICTURE END**/


/**SECTION INFO**/

.info{
    color: #fff;
}

.info .fa {
    font-size: 30px;
    margin-top: 20px;
}

.info .col-9{
    padding: 20px 0;
    padding-right: 20px;
}

.info article:first-of-type .col-9{
    padding-top: 0 !important;
}


/*** ARTICLE USER***/

.info .user .col-9{
    border-bottom: 1px solid #fff;
}

.info .user p{
    margin: 0 !important;
}

.user p{
    line-height: 25px;
}

/*** ARTICLE PHONE***/

.info .phone .col-9{
    border-bottom: 1px solid #fff;
}

.info .phone p:last-of-type,
.info .email p:last-of-type,
.info .address p:last-of-type{
    margin-bottom: 0;
}


/***ARTICLE EMAIL***/

.info .email .col-9{
    border-bottom: 1px solid #fff;
}

.info .email span a{
   text-decoration: none;
   color: #fff;
}


/***ARTICLE ADDRESS***/


.info .address .col-9{
    border-bottom: 1px solid #fff;
}


/***ARTICLE SKILLS***/

.skill{
    position: relative;
    height: 5px;
    border-radius: 3px;
    background: #ccc;

}
.skill .achievement{
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    width: 60%;
    height: 5px;
    border-radius: 3px;
}
.skill .achievement span{
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    right: -7px;
    top: -4.5px;
}
/*-----------------------------------------------*/

/*****EXPERIENCE******/




/******WORK-TITLE***************/

.experience{
    color: #737373;  
}

.work-title .fa{
    font-size: 30px; 
}


/*********WORK***********/

.work:last-of-type p {
    border-bottom: none;

}


/********EDUCATION************/

.education{
    color: #737373;  
}


/**********INTERESTS******************/

.interests{
    color: #737373;  
}

.interests .fa{
    font-size: 30px; 
}

.interests img{
        max-height: 70% !important;
    }

/************SOCIAL***********************/

.social{
    padding: 10px;
}

.social a{
    text-decoration: none;
    color: #38a4dd;
}

/*1. PAGE END*/





/*2. PAGE START*/
/**SECTION COVER-LETTER START**/

.cover-letter{
    color: #636363;
}

.cover-letter .date{
    font-weight: bold;
}

.cover-letter .signature{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

/**SECTION COVER-LETTER END**/

/**SECTION REFERENCES START**/

.references{
    color: #727272;
    padding: 21px;
}

.references .fa{
    font-size: 30px;
    color: #727272;
}

.references h6{
    color: #38a4dd;
}

.references .reference1 .col-10{
    border-bottom: 1px solid #000; 
}


/**SECTION REFERENCES END**/
/*2. PAGE END*/




/*3. PAGE START*/
/*SECTION REDESIGN START*/

.redesign .brand1{
    background-color: #f15c5b;
}

.redesign .brand1 h3 a{
    text-decoration: none;
    color: #fff;
}

.redesign .description{
    background-color: #fafbfc;
}

.redesign .description p{
    line-height: 25px;
    color: #737373;
}

.redesign .brand2{
    background-color: #555157;
}

.redesign .brand2 h3 a{
    text-decoration: none;
    color: #fff;
}

.redesign .brand3{
    background-color: #6a7484;
}

.redesign .brand3 h3 a{
    text-decoration: none;
    color: #fff;
}

.redesign .brand4{
    background-color: #1cbec8;
}

.redesign .brand4 h3 a{
    text-decoration: none;
    color: #fff;
}

.redesign .brand5{
    background-color: #f4be18;
}

.redesign .brand5 h3 a{
    text-decoration: none;
    color: #fff;
}

.redesign .card{
    border: none;
    background-color: transparent;
}

.card-columns{
    -webkit-column-count: 1;
    column-count: 1;
}

/*SECTION REDESIGN END*/
/*3. PAGE END*/




/*4. PAGE START*/
/**SECTION PROJECT START**/

.project,
.comments{
    color: #737373;
}

.project figure img{
    display: block;
}

.project .example1{
    background-color: #f15c5b;
}

.project .example-description{
    background-color: #fafbfc;
    line-height: 25px;
}

/**SECTION PROJECT END**/


/**SECTION COMMENTS START**/

.comments img{
    width: 32px !important;
    height: 32px !important;
}

/**SECTION COMMENTS END**/
/*4. PAGE END*/


