/************GENERAL****************/

html{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

img{
    max-width: 100%;
    display: block;     
}

/*************INDEX PAGE START***************/

/*******SECTION PICTURE START*********/

.picture figure img{
    width: 100%;
    max-width: none;
}

.picture figure{
    position: relative;
}

.picture figure .name{
    position: absolute;
    bottom: 5%;
    right: 30%;
}

.picture figure .name h1,
.picture figure .name h3{
     color: #fff;
}

.picture figure .name h4{
    font-weight: 400;
}



/*******SECTION PICTURE END*********/


/******SECTION INFO******/

.info{
    color: #fff;
}

.info .fa {
    font-size: 30px;
}






/*****USER******/

.user p{
    line-height: 25px;
}

/*****PHONE******/




/*****EMAIL******/




/*****ADDRESS******/





/*****SKILLS******/

.skill{
    position: relative;
    height: 5px;
    border-radius: 3px;
    background: #ccc;
    
}
.skill .achievement{
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    width: 60%;
    height: 5px;
    border-radius: 3px;
}
.skill .achievement span{
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    right: -7px;
    top: -4.5px;
}

/*****EXPERIENCE******/




/******WORK-TITLE***************/

.experience{
  color: #737373;  
}

.work-title .fa{
    font-size: 30px; 
}






/*********WORK***********/

.work:last-of-type p {
    border-bottom: none;
    
}


/********EDUCATION************/

.education{
  color: #737373;  
}


/**********INTERESTS******************/

.interests{
  color: #737373;  
}

.interests .fa{
    font-size: 30px; 
}

.interests img{
    width: 50%;
    height: 50%;
}

/************SOCIAL***********************/

.social{
    padding: 10px;
}

.social a{
    text-decoration: none;
    color: #38a4dd;
}

/*INDEX PAGE END*/

/*COVER-LETTER PAGE START*/

/**SECTION COVER-LETTER START**/

.cover-letter{
    color: #636363;
}

.cover-letter .date{
    font-weight: bold;
}

.cover-letter .signature{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

/**SECTION COVER-LETTER END**/

/**SECTION REFERENCES START**/

.references{
    color: #727272;
}

.references .fa{
    font-size: 30px;
    color: #727272;
}

.references h6{
    color: #38a4dd;
}


/**SECTION REFERENCES END**/


/*COVER-LETTER PAGE END*/














